{% extends "::superadministrador.html.twig" %}
{% block titulo %}
    <h1>Administrador</h1>
{% endblock %}
{% block submenuizquierdo %}
{% endblock %}
{% block submenuderecho %}
{% endblock %}

{% block contenido -%}    

    <table class="table tab-content table-hover table-striped record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Documentoidentidad</th>
                <td>{{ entity.documentoidentidad }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ entity.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.apellidos }}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{{ entity.fecharegistro|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Rol</th>
                <td>{{ entity.rol.nombre }}</td>
            </tr>
            <tr>
                <th>Correo Electrónico</th>
                <td>{{ entity.user.email }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ autor.nombres }}{{ autor.apellidos }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('administrador_configuracion_administrador') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('administrador_configuracion_administrador_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
