{% extends "::superadministrador.html.twig" %}
{% block titulo %}
    <h1>Ver Estudiante</h1>
{% endblock %}
{% block submenuizquierdo %}
{% endblock %}
{% block submenuderecho %}
{% endblock %}

{% block contenido -%}   


    <table class="table tab-content table-hover table-striped record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Documento de Identidad</th>
                <td>{{ entity.documentoidentidad }}</td>
            </tr>
            <tr>
                <th>Tipo de documento de identidad</th>
                <td>{{ entity.tipodocumentoidentidad }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ entity.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.apellidos }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ entity.edad }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ entity.celular }}</td>
            </tr>
            <tr>
                <th>Ciudad de residencia</th>
                <td>{{ entity.ciudad.nombre }}</td>
            </tr>
            <tr>
                <th>Departamento de residencia</th>
                <td>{{ entity.ciudad.departamento.nombre }}</td>
            </tr>
            <tr>
                <th>Estrato</th>
                <td>{{ entity.estrato }}</td>
            </tr>
            <tr>
                <th>Universidad</th>
                <td>{{ entity.universidad }}</td>
            </tr>
            <tr>
                <th>Programa Academico</th>
                <td>{{ entity.programaacademico }}</td>
            </tr>
            <tr>
                <th>Colegio</th>
                <td>{{ entity.colegio }}</td>
            </tr>
            <tr>
                <th>¿Cómo nos conocio?</th>
                <td>{{ entity.conocimiento }}</td>
            </tr>
            <tr>
                <th>Nombres del Acudiente</th>
                <td>{{ entity.nombresacudiente }}</td>
            </tr>
            <tr>
                <th>Apellidos del Acudiente</th>
                <td>{{ entity.apellidosacudiente }}</td>
            </tr>
            <tr>
                <th>Felefono del Acudiente</th>
                <td>{{ entity.telefonoacudiente }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ entity.autor.nombres }} {{ entity.autor.apellidos }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Cursos Matriculados</h3>
    <table class="table tab-content table-hover table-striped records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Finalización</th>
                <th>Duración</th>
                <th>Horario en Jornada de la Mañana</th>         
                <th>Horario en Jornada de la tarde</th>    
                <th>Intensidad Horaria</th>         
                <th>Nombre del Curso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in usuarioCurso %}
                {% if entity.estado  %}
                    <tr>
                        <td><a href="{{ path('administrador_educacion_curso_show', { 'id': entity.curso.id }) }}">{{ entity.curso.id }}</a></td>
                        <td>{% if entity.curso.fechainicio %}{{ entity.curso.fechainicio|date('Y-m-d') }}{% endif %}</td>
                        <td>{% if entity.curso.fechafin %}{{ entity.curso.fechafin|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ entity.curso.duracion }}</td>
                        <td>{{ entity.curso.horainiciomanana|date('H:i:s')   }} - {{ entity.curso.horafinmanana|date('H:i:s')   }}</td>
                        <td>{{ entity.curso.horainiciotarde|date('H:i:s')   }} - {{ entity.curso.horafintarde|date('H:i:s')   }}</td>
                        <td>{{ entity.curso.intensidadhoraria }}</td>                 
                        <td>{{ entity.curso.nombrecurso.nombre }}</td>
                        <td>
                            <a class="btn btn-success btn-xs" href="{{ path('administrador_educacion_curso_show', { 'id': entity.curso.id }) }}">Ver</a>

                            <a class="btn btn-success btn-xs" href="{{ path('administrador_educacion_curso_edit', { 'id': entity.curso.id }) }}">Editar</a>

                            <a onClick= 'return ConfirmarAccion();' class="btn btn-primary btn-xs" href="{{ path('administrador_educacion_estudiantenf_cambiarestadomatricula', { 'id': entity.id }) }}">
                                Cambiar Estado
                            </a> 

                            <a onClick= 'return ConfirmarAccion();' class="btn btn-danger btn-xs" href="{{ path('administrador_educacion_estudiantenf_eliminarmatricula', { 'id': entity.id }) }}">
                                Eliminar Matricula
                            </a>     
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h3>Cursos Pre-Matriculados</h3>
    <table class="table tab-content table-hover table-striped records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Finalización</th>
                <th>Duración</th>
                <th>Horario en Jornada de la Mañana</th>         
                <th>Horario en Jornada de la tarde</th>    
                <th>Intensidad Horaria</th>         
                <th>Nombre del Curso</th>              
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in usuarioCurso %}
                {% if not entity.estado %}
                    <tr>
                        <td><a href="{{ path('administrador_educacion_curso_show', { 'id': entity.curso.id }) }}">{{ entity.curso.id }}</a></td>
                        <td>{% if entity.curso.fechainicio %}{{ entity.curso.fechainicio|date('Y-m-d') }}{% endif %}</td>
                        <td>{% if entity.curso.fechafin %}{{ entity.curso.fechafin|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ entity.curso.duracion }}</td>
                        <td>{{ entity.curso.horainiciomanana|date('H:i:s')   }} - {{ entity.curso.horafinmanana|date('H:i:s')   }}</td>
                        <td>{{ entity.curso.horainiciotarde|date('H:i:s')   }} - {{ entity.curso.horafintarde|date('H:i:s')   }}</td>
                        <td>{{ entity.curso.intensidadhoraria }}</td>

                        <td>{{ entity.curso.nombrecurso.nombre }}</td>
                        <td>

                            <a class="btn btn-success btn-xs" href="{{ path('administrador_educacion_curso_show', { 'id': entity.curso.id }) }}">Ver</a>

                            <a class="btn btn-success btn-xs" href="{{ path('administrador_educacion_curso_edit', { 'id': entity.curso.id }) }}">Editar</a>

                            <a onClick= 'return ConfirmarAccion();' class="btn btn-primary btn-xs" href="{{ path('administrador_educacion_estudiantenf_cambiarestadomatricula', { 'id': entity.id }) }}">
                                Cambiar Estado
                            </a> 

                            <a onClick= 'return ConfirmarAccion();' class="btn btn-danger btn-xs" href="{{ path('administrador_educacion_estudiantenf_eliminarmatricula', { 'id': entity.id }) }}">
                                Eliminar Matricula
                            </a>                       

                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <ul class="record_actions">
        <li>
            <a href="{{ path('administrador_educacion_estudiantenf') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a class="btn btn-success" href="{{ path('administrador_educacion_estudiantenf_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}

